<custom-style>
    <style is="custom-style" include="lumo-colors lumo-typography">
        .state-indicator {
            border-radius: 6px;
        }

        .state-indicator.win {
            background-color: var(--lumo-success-color-10pct);
            color: var(--lumo-success-text-color);
        }
        .state-indicator.lose {
            background-color: var(--lumo-error-color-10pct);
            color: var(--lumo-error-text-color);
        }
    </style>
</custom-style>

