<custom-style>
    <style is="custom-style" include="lumo-colors lumo-typography">
        .lobby-table {
        }


        .lobby-row {
            padding: 2px;
            margin-top: 10px;

            border-radius: 6px;

            background-color: var(--lumo-primary-color-10pct);
            color: var(--lumo-primary-text-color);
        }

        .lobby-row:hover {
            opacity: 0.5;
        }

        .lobby-row iron-icon {
            display:  inline-block;
            margin-right: 10px;
            margin-top: 1px;
        }

        .lobby-row label {
            padding: 8px;
        }

        .lobby-row.selected {
            background-color: var(--lumo-primary-color);
            color: var(--lumo-primary-contrast-color);
        }
    </style>
</custom-style>
