<custom-style>
    <style is="custom-style" include="lumo-colors lumo-typography">
        .board {
            // Centre the board rows:
            width: 100%;
            text-align: center;

            margin-top: 7vmin;
        }

        .row {
            height: 22vmin;
        }

        .square {
            width: 20vmin;
            height: 20vmin;

            border: solid BLACK 1vmin;
            display: inline-block;
        }

        /* Don't draw lines on the the edge of the board: */
        .row:first-of-type .square {
            border-top-color: TRANSPARENT;
        }
        .row:last-of-type .square {
            border-bottom-color: TRANSPARENT;
        }
        .square:first-of-type {
            border-left-color: TRANSPARENT;
        }
        .square:last-of-type {
            border-right-color: TRANSPARENT;
        }

        .icon {
            height: 100%;
        }

        .X .icon {
            background-color: var(--lumo-error-color);
            -webkit-mask-image: url("/frontend/img/X.svg");
            -webkit-mask-size: contain;
            mask-image: url("/frontend/img/X.svg");
            mask-size: contain;

            animation-name: fade-in;
            animation-duration: 0.5s;
        }

        .O .icon {
            background-color: var(--lumo-primary-color);
            -webkit-mask-image: url("/frontend/img/O.svg");
            -webkit-mask-size: contain;
            mask-image: url("/frontend/img/O.svg");
            mask-size: contain;

            animation-name: fade-in;
            animation-duration: 0.5s;
        }

        .win .icon {
            animation-name: blink;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
        }


        @keyframes fade-in {
            0%   {opacity: 0;}
            100% {opacity: 1;}
        }

        @keyframes blink {
            0%,  100% {opacity: 1;}
            10%, 90%  {opacity: 0.96;}
            45%, 55%, {opacity: 0.04;}
              50%     {opacity: 0.0;}
        }
    </style>
</custom-style>