<custom-style>
    <style is="custom-style" include="lumo-colors lumo-typography">
        html {
            height: auto;
        }
        body {
            height: auto;
            width: auto;

            margin: 0;
            padding: 1ex 1em;

            --app-primary-color: var(--lumo-primary-color);
            --app-secondary-color: var(--lumo-body-text-color);

            background-color: var(--lumo-shade-10pct);
            color: var(--lumo-body-text-color);
            font-family: var(--lumo-font-family);

            text-align: center;
        }

        .qr-code {
            position: fixed;
            bottom: 0px;
            right: 0px;
        }
        .todo {
            position: fixed;
            bottom: 0px;
            left: 20px;
        }
    </style>
</custom-style>

