/* https://medium.com/@pioul/modular-css-with-react-61638ae9ea3e */
/* https://www.npmjs.com/package/react-css-modules */

.board {
/* Centre the board rows: */
    width: 100%;
    text-align: center;

    margin-top: 7vmin;
}

.boardRow {
    height: 22vmin;
}

.square {
    width: 33%;
    height: 100%;
    border: 10px solid #000;

    display: inline-block;
}

/* Don't draw lines on the the edge of the board: */
.boardRow:first-child .square {
    border-top-color: TRANSPARENT;
}
.boardRow:last-child .square {
    border-bottom-color: TRANSPARENT;
}
.square:first-child {
    border-left-color: TRANSPARENT;
}
.square:last-child {
    border-right-color: TRANSPARENT;
}

.icon {
    height: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}

.X.icon {
    background-color: RED;
    -webkit-mask-image: url("img/X.svg");
    mask-image: url("img/X.svg");

    animation-name: fade-in;
    animation-duration: 0.5s;
}

.O.icon {
    background-color: BLUE;
    -webkit-mask-image: url("img/O.svg");
    mask-image: url("img/O.svg");

    animation-name: fade-in;
    animation-duration: 0.5s;
}

.win.icon {
    animation-name: blink;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}


@keyframes fade-in {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes blink {
    0%,  100% {opacity: 1;}
    10%, 90%  {opacity: 0.96;}
    45%, 55%  {opacity: 0.04;}
    50%       {opacity: 0.0;}
}